# This code was used to parse multiple datasets in the Text Age project -

The process is split into multiple centuries and a few other opensource datasets are added into creating the final code

In [5]:
# Text age parser
from bs4 import BeautifulSoup
#import datasets
from datetime import datetime
import os

dt_format = "%Y"
base_path = r"C:\Users\rhira\Documents\TextAge\17001800\dataset"
files = os.listdir(base_path)
print(files)

['1508_Richard-rolle_The-remedy-against-the-troubles-of-temptations_book.xml', '1508_William-Dunbar_The-ballade-of-ane-right-noble-victorius_book.xml', '1511_Henry-watson_The-noble-history-of-King-Ponthus_book.xml', '1530_Edward-Gosynhyll_dialogue-betwene-the-comen-secretary-and-Ielowsy-touchynge-the-vnstablenes-of-harlottes_letter.xml', '1530_Richard-ullerston_A-compendious-olde-treatyse_book.xml', '1531_Elyyot-Thomas_The-boke-named-The-Gouernour_book.xml', '1532_Hervet-gentian_Xenophons-treatise-of-ousholde_treaty.xml', '1535_George-joye_A-compendyouse-somme-of-the-very-Christen_book.xml', '1535_Joye-George_An-apolgye-to-w.-Tindale_letter.xml', '1542_Heinrich-cornelius_A-treatise-of-the-nobilitie-and-excellencye-of-vvoman-kynde_treaty.xml', '1549_William-Baldwin_The-canticles-or-balades-of-Salomon_book.xml', '1550_Richard-sherry_A-treatise-of-schemes-&-tropes_book.xml', '1550_unknown_Pyers-plowmans-exhortation_book.xml', '1551_Henry-wingfield_A-compendious-or-short-treatise_treaty.xml', '1551_thomas-more_Utopia_book.xml', '1552_William-Elderton_A-decree-betwene-Churchyarde-and-Camell-quod-W-Jlderton_book.xml', '1553_Thomas-wilson_The-arte-of-rhetorique_book.xml', '1561_james-pilkington_The-true-report-of-the-burnyng-of-the-steple-and-church-of-Poules-in-London_report.xml', '1565_Giovanni-boccaccio_A-pleasant-and-delightfull-history-of-Galesus-Cymon-and-Iphigenia _book.xml', '1565_Titus-maccius-platus_A-new-enterlued-for-chyldren-to-playe_book.xml', '1571_Edward-grant-plutarch_A-president-for-parentes_book.xml', '1571_Giovanni-boccaccio_Thirtene-most-plesant-and-delectable-questions_book.xml', '1574_Samuel-william_A-new-balade-or-songe-of-the-Lambes-feast_book.xml', '1575_unknown_Gammer_Gvrtone-nedle_book.xml', '1577_John-pits_A-prayer-for-queen-Elizabeth_prayer.xml', '1577_Richard-robinson_selected-histories-for-christian-recreation_song.xml', '1578_John-rogers_The-summe-of-Christianitie-reduced-vnto-eight-propositions_book.xml', '1579_john-rogers_An-answere-vnto-a-wicked-&-infamous-libel-made-by-Christopher-Vitel_book.xml', '1579_thomas-Plutarch_The-lives-of-the-noble-grecians_book.xml', '1582_unknown_bible_book.xml', '1584_Hakluyt richard_Discourse-of-Western-Planting_book.xml', '1584_John-Rainolds_A-sermon-vpon-part-of-the-prophesie-of-Obadiah_book.xml', "1587_Marlowe-chrishtopher_Ovid's-elegies_book.xml", '1589_George-puttenham_The-arte-of-English-poesie_book.xml', '1589_Leonard-wright_A-display-of-dutie-dect-vvith-sage-sayings_book.xml', '1591_Michael-drayton_The-harmonie-of-the-church_songs.xml', '1592_Kyd Thomas_The-Spanish-tragedie_book.xml', '1592_Robert-parsons_aduertisement-written-to-secretarie-L.-Treasurers-of-Ingland_book.xml', '1592_Unknown_Arden-of-Feversham_book.xml', '1594_Michel de-renichon_The-confession-of-Michael-Renichon-of-Templeu_book.xml', '1594_Richard-Barnfield_The-affectionate-shepheard-Containing-the-complaint-of-Daphnis-for-the-loue-of-Ganymede_book.xml', '1595_Thomas-edwards_Cephalus-&-Procris-Narcissus_book.xml', '1596_Sabie_francis_Adams-complaint-The-olde-vvorldes-tragedie-Dauid-and-Bathsheba_book.xml', '1596_unknown_The-raigne-of-King-Edvvard-the-Third_book.xml', '1596_unknown_The-Spanish-tragedie_book.xml', '1597_Nicholas-yonge_Musica-transalpina-Cantus_book.xml', '1598_Richard-stapleton_Phillis-and-Flora-The-sweete_book.xml', '1598_Samuel-rowlands_The-betraying-of-Christ-Iudas-in-despaire_books.xml', '1599_Henry-chettle_The-tragedy-of-Hoffman_book.xml', "1599_Thomas-dekker_The-shoemakers'-holiday_book.xml", '1601_Robert-yarington_two-lamentable-tragedies_report.xml', '1603_Thomas-p_the-power-of_sermon.xml', '1604_Thomas-dekker_the-honest-whore_dialogue.xml', '1605_Ben-jonson_Sejanus_Drama.xml', '1605_Thomas-p_sick-mans-couch_sermon.xml', '1606_Ben-Jonson_Hymenaei_report.xml', '1606_Cyril-Toruneur_The-revengers-tragedy_novel.xml', '1609_John-skelton_Pimlyco_report.xml', '1609_Thomas-Dekker_the-guls-horne-brooke_novel.xml', '1611_Thomas-draxe_the-christian-armorie_religious.xml', '1613_George-w_Epithalamia_poem.xml', '1617_willbald_the-praise-of-the-gout_novel.xml', '1618_Thomas-dekker_the-owels_report.xml', '1621_Unknown_the-true-medium-of-the-monies_report.xml', '1623_John-webster_The-duchess-of-mafia_novel.xml', '1623_William-shakespeare_henry-the-fourth_drama.xml', '1623_William-shakespeare_the-taming-of-the-shrew_drama.xml', '1623_William-shakespeare_The-tragedie_Drama.xml', '1637_John-milton_Comus_drama.xml', '1639_Samuel-pick_Festum-voluptatis_poems.xml', '1641_John-williams_an-abstract-of-answers_report.xml', '1642_John-hales_a-tract_report.xml', '1642_Lazarus-haward_a-continvation-of-the-divrnal_report.xml', '1642_lionel-copley_a-letter-from-a-gentleman_letter.xml', '1642_Parliament_the-state-of-case_history.xml', '1644_John-milton_Areopagitica_speech.xml', '1645_John-Win_a-declaration-of-former-passages_report.xml', '1645_William-Prynne_hidden-works_novel.xml', '1647_Jasper-mayne_sermon-against-false-prophets_sermon.xml', '1649_John-cook_king-charles-case_report.xml', '1651_Augustine_the-profit_novel.xml', '1652_Jasper-M_a-sermon_sermon.xml', '1652_John-Aufley_liberties-of-people_report.xml', '1658_Thomas_Browne_hydriotaphia-Urn-birial_letter.xml', '1660_Edward-cooke_concernment-in-ireland_report.xml', '1661_HF_a-plain-record_report.xml', '1661_Unknown_Catalogue-of-the-prelates_report.xml', "1668_John-Dryden_the-feign'd-innocence_drama.xml", '1674_John-milton_Paradise-lost_poem.xml', '1675_Rice-Vaughan_discourse-of-coin_discourse.xml', '1675_William-Wycherley_the-country-wife_comedy.xml', '1676_Augustine_digitus-dei_novel.xml', '1677_John-Dryden_the-state-of-innocence_drama.xml', '1678_Edward-cooke_Love-triumph_Drama.xml', '1680_Aulonoy_novels-of-elizabeth_novel.xml', '1680_John-d_three-poems_poems.xml', '1682_George-b_the-tryal_report.xml', '1682_John-Bunyan_The-holy-war_history.xml', '1683_William-atwood_three-letters_letter.xml', '1684_John-a_aarraignment-of-rebellion_letter.xml', '1684_Robert-F_third-diallogue_drame.xml', '1685_John-dryden_Sylvae_poem.xml', '1685_Shadrach-Cooke_preached-at-islaington_sermon.xml', '1687_Edmund-elys_an-epistle-to-the-truly-religious_letter.xml', '1687_James-II_A-proclamation_report.xml', '1687_Willian-penn_Advice-to-freeholders_letter.xml', '1688_chaise_letter-from-father_letter.xml', '1688_James-II_by-the-king_report.xml', '1690_gentleman-in-dort_letter-to-commons_letter.xml', '1690_Gentlemen-in-the-city_the-trade-in-africa_report.xml', '1690_Thomas-Browne_Letter-to-a-friend_letter.xml', '1690_Unknown_the-controversie-between-robin_poem.xml', '1694_Francis-Atterbury_the-christian-religion_sermon.xml', '1695_Edmund-Elys_a-letter-to-author_letter.xml', '1695_William-atwood_supplying-want-of-coin_report.xml', '1696_edmund-elys_a-letter-sir-robert_letter.xml', '1696_shadrach-crook_Christian-sermon_sermon.xml', '1698_John-Cary_An-answer-to_letter.xml', '1698_John-hopkins_the-victory-of-death_poem.xml', '1699_Robert-atkyns_a-treatise-of-jurisdiction_report.xml', '1700_aesop-benjamin-harris_the-fables-of-young-aesop-with-their-morals-with-a-moral-history-of-his-life-and-death-illustrated-with-forty-curious-cuts-applicable-to-each-fable_fables.xml', '1700_daniel-defoe_the-pacificator-a-poem_poem.xml', "1700_john-cosin_bishop-cozens's-argument-proving-that-adultery-woks-a-dissolution-of-the-marriage-being-the-substance-of-several-of-bishob-cozens-his-speeches-in-the-house-of-lords-upon-the-debate-of-lord-ross's-case-taken-from-original-papers_speech.xml", '1700_r-b_the-english_history.xml', '1700_siculus-diodorus-george-booth-henride-valois-lorenz-rhodoman_the-historical-library-of-diodorus-the-sicilian-in-first-five-contain-the-antiquities-of-egypt-asia-africa-greece-the-islands-and-europe-the-last-ten-an-historical-account-of_history.xml', "1700_thomas-tryon_tryon's-letters-upon-several-occassions-by-tho-tryon_letter.xml", '1702_john-danforth_the-right-christian-temper-in-every-condition-endeavoured-as-the-lord-vouchsafed-to-assist-to-be-set-forth-and-recommended-and-the-due-debt-of-a-suitable-contentment-with-our-outward-lot-humbly-demanded-on-the-behalf-of-the_poem.xml', '1702_unknown-author_the-loyal-address-of-the-clergy-of-virginia_poem.xml', '1703_cotton-mather_agreeable-admonitions-for-old-&-young-or-aged-piety-honoured-and-early-piety-quickened-in-a-brief-disclosure-delivered-april-25-1703_poem.xml', '1704_cotton-mather_eureka-the-vertuous-woman-found-a-short-essay-on-the-memory-of-mrs-mary-brown-late-consort-of-benjamin-brown-esq-in-salem-three-lines-from-ruth-iii_poems.xml', '1706_daniel-defoe_caledonia-&c-a-poem-in-honour-of-scotland-and-the-scots-nation-in-three-parts_poem.xml', '1707_cotton-mather_ornamental-piety_poem.xml', '1707_nicholas-noyes_may-28th-1706-to-my-worthy-friend-mr-james-bayley-living-if-living-in-roxbury-a-poem_poem.xml', "1712_peter-thacher-john-danforth_christ's-forgiveness-of-true-christians-is-a-preceptive-patern-of-christian-fraternal-forgiveness-a-sermon-on-col-iii-13-preached-upon-a-solemn-occasion-by-peter-thacher-a-m-pastor-of-the-church-of-christ-in_poem.xml", '1713_samuel-sewall_proposals-touching-the-accomplishment-of-prophecies-humbly-offered-by-samuel-sewall-m-a-and-sometime-fellow-of-harvard-college-at-cambridge-in-new-england-eight-lines-of-quotations_poem.xml', '1714_john-barnard_two-sermons-the-christians-behaviour-under-severe-and-repeated-bereavements-and-the-fatal-consequence-of-a-peoples-persisting-in-sin_sermon.xml', '1714_robert-hunter_androboros-a-bographical-sic-farce-in-three-acts-viz-the-senate-the-consistory-and-the-apotheosis_play.xml', '1715_nicholas-rowe_the-tragedy-of-the-lady-jane-gray-as-it-is-acted-at-the-theatre-royal-in-drury-lane-by-n-rowe-esq_play.xml', '1721_daniel-defoe_the-history-and-misfortunes-of-the-famous-moll-flanders-etc_fiction.xml', '1738_mather-byles-jonathon-belcher-dedicatee_on-the-death-of-the-queen-a-poem-inscribed-to-his-excellency-governour-belcher-by-the-reverned-mr-byles_poem.xml', '1742_henry-fielding_the-history-of-the-adventures-of-joseph-andrews-and-his-friend-mr-abraham-adams_novel.xml', '1746_thomas-prince_the-salvations-of-god-in-1746.-in-part-set-forth-in-a-sermon-at-the-south-church-in-boston,-nov.27.1746.-being-the-day-of-the-anniversary-thanksgiving-in-the-province-of-the-massachusetts-bay-in-n.e.-wherein-the-most-remark_history.xml', '1747_jonathon-edwards_true-saints,-when-absent-from-the-body,-are-present-with-the-lord_sermon.xml', '1748_w-william-kernick_the-town-a-satire-by-w-kernick_verses.xml', '1749_henry-fielding_the-history-of-tom-jones-a-foundling_novel.xml', '1749_john-cleland_memoirs-of-a-woman-of-pleasure_fiction.xml', '1749_thomas-warton_the-triump-of-isis-a-poem-occasioned-by-isis-an-elegy_poem.xml', '1750_jonathan-mayhew_a-disclosure-concerning-unlimited-submission-and-non-resistance-to-the-higher-powers_sermon.xml', '1762_anthony-benezet_a-short-account-of-that-part-of-africa--habited-by-the-negroes-with-respect-to-the-fertility-of-the-country-the-good-disposition-of-many-of-the-natives-and-the-manner-by-which-the-slave-trade-is-carried-on_travel.xml', "1762_college-of-new-jersey_the-military-glory-of-great-britain-an-entertainment-given-by-the-late-candidates-for-bachelor's-degree-at-the-close-of-the-anniversary-commencement-held-in-nassau-hall-new-jersey-september-29th-1762_play.xml", "1767_benjamin-franklin_father-abraham's-speech-to-a-great-number-of-people-at-a-vendue-of-merchant-goods-introduced-to-the-public-by-poor-richard-a-famous-conjurer-and-almanack-maker-in-answer-to-the-following-questions-pray-father-abraham_speech.xml", '1768_john-dickinson_a-copy-of-a-letter-from-a-gentleman-in-virginia-to-a-merchant-in-philadelphia_letter.xml', '1768_john-dickinson_a0-copy-of-a-letter-from-a-gentleman-in virginia,-to-a-merchant-in-philadelphia-_letter.xml', '1768_john-dickinson_letters-from-a-farmer-in-pennsylvania,-to-the-inhabitants-of the-british-colonies_letter.xml', '1768_naphtali-daggett_the-great-importance-of-speaking-in-the-most-intelligible-manner-in-the-christian-church-a-sermon-preached-at-the-installatiion-of-the-rev-nathaniel-sherman-over-the-church-of-the-christ-in-mount-carmel-new-heaven_sermon.xml', '1768_sterne-laurence_a-sentimental-journey-through-france-and-italy_novel.xml', '1768_thomas-barnard_the-power-of-god-the-proof-of-christianity-a-disclosure-delivered-at-the-dudleian-lecture-in-the-chapel-of-harvard-college-cambridge-n-e-may-11th-1768-by-thomas-barnard-a-m-pastor-of-the-first-church-in-salem_sermon.xml', '1772_richard-cumberland-william-shakespear_timon-of-athens-altered-from-shakespear-a-tragedy-as-it-is-acted-at-the-theatre-royal-in-druny-lane_play.xml', '1775_mercy-otis-warren_the-group-a-farce-as-lately-acted-and-to-be-re-acted-to-the-wonder-of-all-superior-intelligences-nigh-head-quarters-at-amboyne-in-two-acts_play.xml', "1776_thomas-prince_extract-of-a-sermon-preach'd-at-the-south-church-in-boston-november-27-1746-by-the-rev-mr-thomas-prince-occasioned-by-the-surprizing-appearance-of-divine-providence-for-north-america,-in-the-destruction-of-the-french-fleet_history.xml", "1782_thomas-warton_verses-on-sir-joshua-reynolds's-painted-window-at-new-college-oxford_verses.xml", '1784_peter-markoe_the-patriot-chief-a-tragedy-five-lines-from-thomson_play.xml', '1786_charles-hutton_tracts-mathematical-and-philosophical-by-charles-hutton-vol-1_fiction.xml', '1787_stephen-crisp_scripture-truth-demonstrated-in-thirty-two-sermons-or-declaration-of-stephen-crisp-late-of-colchester-in-essex-deceased-carefully-taken-in-short-hand-as-they-are-delivered-by-him-at-the-public-meeting-houses-of-the-people_gospel.xml', '1792_willium-rufus-chetwood-daniel-defoe-benjamin-victor-sir-d-william-yonge_the-voyages-and-adventures-of-captain-robert-boyle-in-several-parts-of-the-world-intermixed-with-the-story-of-mrs-villars-an-english-lady-with-whom-he-made-his_travel.xml', '1793_american-lady_the-hapless-orphan-or-innocent-victim-of-revenge-a-novel-founded-on-incidents-in-real-life-in-a-series-of-letters-from-caroline-francis-to-maria-b-in-two-volumes_novel.xml', '1793_mrs-rowson-cockburne-lady-dedicatee_the-inquisitor-or-invisible-rambler-in-three-volumes_novel.xml', '1794_mrs-rowson_charlotte-a-tale-of-truth-by-mrs-rowson-of-the-new-theatre-philadelphia-author-of-victoria-the-inquisitor-fille-de-chambre-&c_novel.xml', "1794_mrs-rowson_mentoria-or-the-young-lady's-friend-in-two-volumes-by-mrs-rowson-of-the-new-theatre-philadelphia-author-of-the-inquisior-file-de-chambre-victoria-charlotte-&c-&c_novel.xml", '1795_james-hardie_the-american-remembrance-and-universal-tablet-of-memory-containing-a-list-of-the-most-eminent-men-whether-in-ancient-or-modern-times-with-the-achievements-for-which-they-have-been-particularly-distinguished-as-also-the-most_history.xml', '1795_richard-lee_the-melancholy-end-of-ungrateful-children-exemplified-in-the-dreadful-fate-of-the-son-and-daughter-of-a-wealthy-farmer-who-after-receiving-and-dividing-the-wealth-of-their-parents-refused-them-in-their-old-age-the-shhelter-of_chapbook.xml', '1796_edmund-burke_thoughts-on-the-prospect-of-a-regicide-peace-in-a-series-of-letters_letter.xml', '1796_hannah-more_the-way-to-plenty-or-the-second-part-of-tom-white_chapbook.xml', '1796_jeremy-belknap-john-arbuthnot_the-foresters-an-american-tale-being-a-sequel-to-the-history-of-john-bull-the-clothier-in-a-series-of-letters-to-a-friend-published-according-to-act-of-congress_novel.xml', '1797_dannie-joseph-rogers-ransford_a-collection-of-essays-on-a-variety-of-subjects-in-prose-and-verse_essay.xml', '1797_hannah-webster-foster_the-coquette-or-the-history-of-eliza-wharton-a-novel-founded-on-fact-by-a-lady-of-massachusetts_novel.xml', '1797_samuel-relf-ann-louisa-bingham-dedicatee_infidelity-or-the-victims-of-sentiment-a-novel-in-a-series-of-letters_novel.xml', '1798_charles-holt_a-short-account-of-the-yellow-fever-as-it-appeared-in-new-london-in-august-september-and-october-1798-with-an-accurate-list-of-who-died-of-the-disease-the-donations_nonfiction.xml', '1798_john-mariner-willock-thomas-engraver-clarke_the-voyages-and-adventures-of-john-willock-mariner-interspersed-with-remarks-on-different-countries-in-europe-africa-and-america-with-the-customs-and-manners-of-the-inhabitants-and-a-number_travel.xml', '1798_thomas-bellamy_the-history-of-capt-thomas-parismas-containing-a-particular-account-of-the-cruel-and-barbarous-treatment-of-a-young-lady-who-was-the-wife-of-mr-james-negotio-an-english-merchant-in-the-east-indies-the-history-of-this_story.xml']

In [6]:
import pandas as pd
df = pd.DataFrame(columns=["text","category","date","head","title","author"])

In [3]:
from datasets import load_dataset

dataset = load_dataset("biglam/lampeter_corpus")

c:\Users\rhira\AppData\Local\Programs\Python\Python39\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Downloading data: 100%|██████████| 3.06M/3.06M [00:01<00:00, 2.39MB/s]
Generating train split: 100%|██████████| 120/120 [00:00<00:00, 611.85 examples/s]

In [5]:
dataset

DatasetDict({
    train: Dataset({
        features: ['id', 'text', 'date', 'genre', 'head', 'title'],
        num_rows: 120
    })
})

In [6]:
df_pandas = dataset["train"].to_pandas()
df_pandas.head()

,id,text,date,genre,head,title
0,EcA1641,To contend with men that deny their owne publi...,1641-01-01,Economy,"A Reply to a most untrue Relation made, and se...",A reply to a most untrue relation [...] by cer...
1,EcA1652,IT hath been a thing for many years generally ...,1652-01-01,Economy,"THE ADVOCATE: OR, A NARRATIVE Of the state and...",The Advocate.
2,EcA1668,"I Presume, there are few Englishmen so disloya...",1668-01-01,Economy,\nPropos. 1.\n\nIt will supply his Majesties p...,"A discourse ,shewing the many advantages which..."
3,EcA1676,HAving lately seen a Pamphlet under the Title ...,1676-01-01,Economy,An Enquiry into the Grounds of a late Pamphlet...,Is not the hand of Joab in all this? Or An enq...
4,EcA1681,FOrasmuch as there is a very great Complaint i...,1681-01-01,Economy,SECT. I. \nThe Introduction.,The Trade of England Revived: And the Abuses t...

In [7]:
df_pandas.to_csv("lampenter.csv")

In [ ]:
import os
import re
import xml.etree.ElementTree as ET
import pandas as pd

def extract_data(xml_file):
    tree = ET.parse(xml_file)
    root = tree.getroot()

    title = root.find(".//title").text
    author = root.find(".//author").text

    # Extract 4-digit year from speechPubDate within the range 1500 to 1900
    raw_speech_pub_date = root.find(".//speechPubDate").text
    match = re.search(r'\b(15\d{2}|16\d{2}|17\d{2}|18\d{2}|19\d{2})\b', raw_speech_pub_date)
    speech_pub_date = match.group() if match else None

    dialogue_elements = root.findall(".//dialogueText//dialogue")
    non_speech_elements = root.findall(".//dialogueText//nonSpeech")

    dialogue_content = ' '.join([''.join(dialogue.itertext()).strip() for dialogue in dialogue_elements])
    non_speech_content = ' '.join([''.join(non_speech.itertext()).strip() for non_speech in non_speech_elements])

    combined_content = dialogue_content + ' ' + non_speech_content

    data = {'Title': [title], 'Author': [author], 'SpeechPubDate': [speech_pub_date], 'Content': [combined_content]}
    df = pd.DataFrame(data)
    return df

def process_folder(folder_path):
    all_dfs = []

    for filename in os.listdir(folder_path):
        if filename.endswith(".xml"):
            xml_file_path = os.path.join(folder_path, filename)
            df = extract_data(xml_file_path)
            all_dfs.append(df)

    if all_dfs:
        combined_df = pd.concat(all_dfs, ignore_index=True)
        return combined_df
    else:
        print("No XML files found in the folder.")
        return None

# Replace 'your_folder_path' with the actual path to your folder containing XML files
folder_path = 'english_dialogues'
combined_dataframe = process_folder(folder_path)

# Display the combined DataFrame
if combined_dataframe is not None:
    pd.set_option('display.max_colwidth', None)
    print(combined_dataframe)

In [40]:
combined_dataframe["year"] = combined_dataframe["SpeechPubDate"]
combined_dataframe["year"]

0      1599
1      1594
2      1584
3      1595
4      1595
       ...
172    1752
173    1729
174    1744
175    1726
176    1725
Name: year, Length: 177, dtype: object

In [ ]:
#files = ["1570_John-Drout_The-pityfull-histori-of-two-louing-Italians_book_book.xml"]
for filepath in files:
    with open(base_path+"/"+filepath, encoding="utf-8") as f:
            
            split = filepath.split("_")
            date = split[0]
            author = split[1]
            title = split[2]
            category = split[3]

            soup = BeautifulSoup(f, features="xml")
            for entry in soup.find_all("TEI"):
                text_parts = []
                #title_with_id = entry.teiHeader.fileDesc.titleStmt.title.text
                #date = entry.teiHeader.fileDesc.edition.date
                #print(title_with_id, date)
                #id, title = title_with_id.split(":", maxsplit=1)
                #id = id.strip()
                #title = title.strip()
                #date = datetime.strptime(id[-4:], dt_format)
                content = entry.find("text")
                #print(content)
                head = content.find("body").find("head")
                
                if head:
                    head = head.text
                else:
                    head = ""
                body_parts = content.find("body").find_all("p")
                if len(str(body_parts)) < 100:
                     body_parts = content.find("body").find_all("l")
                for body_part in body_parts:
                    text_parts.append(body_part.text)
                full_text = " ".join(text_parts)
                #print(filepath, len(full_text))

                #genre = _CLASS_MAP[id[0]]
                data_point = {
                    "text": full_text,
                    "category": category,
                    "date": date,
                    "head": head,
                    "title": title,
                    "author":author
                }
                df = df.append(data_point, ignore_index=True)
                #print(data_point)

In [9]:
df.category.value_counts()

book.xml                                                          38
report.xml                                                        21
novel.xml                                                         18
letter.xml                                                        18
poem.xml                                                          16
sermon.xml                                                        12
history.xml                                                        7
play.xml                                                           6
drama.xml                                                          5
travel.xml                                                         3
fiction.xml                                                        3
speech.xml                                                         3
poems.xml                                                          3
Drama.xml                                                          3
treaty.xml                                                         3
chapbook.xml                                                       2
verses.xml                                                         2
fables.xml                                                         1
nonfiction.xml                                                     1
essay.xml                                                          1
gospel.xml                                                         1
Gvrtone-nedle                                                      1
prayer.xml                                                         1
drame.xml                                                          1
religious.xml                                                      1
comedy.xml                                                         1
discourse.xml                                                      1
hydriotaphia-Urn-birial                                            1
song.xml                                                           1
songs.xml                                                          1
Adams-complaint-The-olde-vvorldes-tragedie-Dauid-and-Bathsheba     1
books.xml                                                          1
dialogue.xml                                                       1
story.xml                                                          1
Name: category, dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      180 non-null    object
 1   category  180 non-null    object
 2   date      180 non-null    object
 3   head      180 non-null    object
 4   title     180 non-null    object
 5   author    180 non-null    object
dtypes: object(6)
memory usage: 8.6+ KB

# Lampenter

In [131]:
x = pd.read_csv("lampenter.csv")
x["date"].head()

0    1641-01-01
1    1652-01-01
2    1668-01-01
3    1676-01-01
4    1681-01-01
Name: date, dtype: object

In [132]:
x.columns

Index(['Unnamed: 0', 'id', 'text', 'date', 'genre', 'head', 'title'], dtype='object')

In [133]:
lst = x["date"].to_list()
yr = [int(x.split("-")[0]) for x in lst if x]

In [134]:
x["year"] = yr

In [137]:
lampenter_1700 = x[x["year"]>1700]
lampenter_1700.to_csv("17001800.csv")

# Gefa

In [81]:
gefa = pd.read_csv("GEFA_18001900.csv")
gefa.columns

Index(['Unnamed: 0', 'author_tag', 'title', 'subjects', 'subjectcount', 'pd',
       'dob', 'dod', 'edp', 'decade', 'century', 'text'],
      dtype='object')

In [83]:
gefa.drop("text",axis=1)

,Unnamed: 0,author_tag,title,subjects,subjectcount,pd,dob,dod,edp,decade,century
0,11,MÃ¼hlbachLLuise,Napoleon and BlÃ¼cher: An Historical Novel,"Napoleon I, Emperor of the French, 1769-1821 -- Fiction; BlÃ¼cher, Gebhard Leberecht von, 1742-1819 -- Fiction; Germany -- History -- 1806-1815 -- Fiction",3,1814,1814,1873,1843,1840,19
1,13,MÃ¼hlbachLLuise,Louisa of Prussia and Her Times: A Historical Novel,"Napoleon I, Emperor of the French, 1769-1821 -- Fiction; Luise, Queen, consort of Frederick William III, King of Prussia, 1776-1810 -- Fiction; Prussia (Germany) -- History -- Frederick William III, 1797-1840 -- Fiction; Napoleonic Wars, 1800-1815 -- Campaigns -- Germany -- Prussia -- Fiction",4,1867,1814,1873,1843,1840,19
2,18,MÃ¼hlbachLLuise,Frederick the Great and His Court,"Frederick II, King of Prussia, 1712-1786 -- Fiction; Prussia (Germany) -- History -- Frederick II, 1740-1786 -- Fiction; Courts and courtiers -- Fiction",3,1866,1814,1873,1843,1840,19
3,93,MÃ¼hlbachLLuise,Andreas Hofer: An Historical Novel,"Hofer, Andreas, 1767-1810 -- Fiction; Tyrol (Austria) -- History -- Uprising of 1809 -- Fiction",2,1868,1814,1873,1843,1840,19
4,125,MÃ¼hlbachLLuise,Marie Antoinette and Her Son,"Historical fiction; Marie Antoinette, Queen, consort of Louis XVI, King of France, 1755-1793 -- Fiction; Louis XVII, of France, 1785-1795 -- Fiction",3,1866,1814,1873,1843,1840,19
...,...,...,...,...,...,...,...,...,...,...,...
8545,12865,AlexanderMrs,A Crooked Path: A Novel,Inheritance and succession -- Fiction; England -- Social life and customs -- Fiction,2,1889,1825,1902,1863,1860,19
8546,12874,AlexanderMrs,Ralph Wilton's weird,Inheritance and succession -- Fiction; Mate selection -- Fiction; Courtship -- Fiction; Social classes -- England -- Fiction,4,1875,1825,1902,1863,1860,19
8547,12883,AlexanderMrs,At Bay,Fiction,1,1854,1825,1902,1863,1860,19
8548,12888,AlexanderMrs,Women Novelists of Queen Victoria's Reign: A Book of Appreciations,"Novelists, English -- 19th century -- Biography; Women and literature -- Great Britain -- History -- 19th century; English fiction -- 19th century -- History and criticism; English fiction -- Women authors -- History and criticism; Women novelists, English -- Biography",5,1897,1825,1902,1863,1860,19
8549,13263,AlexanderMrs,Kate Vernon: A Tale. Vol. 2 (of 3),Fiction,1,1854,1825,1902,1863,1860,19

In [103]:
egefa = gefa[gefa["pd"]<1899]
ngefa = gefa[gefa["pd"]>1899]

In [105]:
ngefa.to_csv("19002000.csv")

## Dividing lampenter

In [130]:
lampenter = pd.read_csv("lampenter.csv")
lampenter.date.head(1)

0    1641-01-01
Name: date, dtype: object

# Century wise cleaning and the combining the files

## 1500 - 1600

In [31]:
import pandas as pd
import os
import xml.etree.ElementTree as ET

df_1500 = pd.DataFrame(columns=["text","category","date","title","author"])

lst = os.listdir(r"C:\Users\rhira\Documents\TextAge\15001600")
for nam in lst:
    yr, aut, tit, typ = nam.split("_")
    #print(yr, aut, tit, type)
    
    xml_file_path = r'C:\Users\rhira\Documents\TextAge\15001600'+"\\"+nam
    tree = ET.parse(xml_file_path)
    root = tree.getroot()

    # Define a namespace dictionary for convenience
    ns = {'tei': 'http://www.tei-c.org/ns/1.0'}

    # Function to safely extract text content from an element
    def get_element_text(element, xpath, namespaces=ns):
        result = element.find(xpath, namespaces=namespaces)
        return result.text.strip() if result is not None and result.text is not None else None

    # Function to recursively concatenate text content from an element and its children
    def get_all_text(element, namespaces=ns, exclude_tags=None):
        result = ''
        if element.text and (exclude_tags is None or all(tag not in element.tag for tag in exclude_tags)):
            result += element.text.strip()
        for child in element:
            result += get_all_text(child, exclude_tags=exclude_tags)
            if child.tail:
                result += child.tail.strip()
        return result
    
    exclude_tags = {'titleStmt', 'licence', 'author', 'respStmt'}
    
    all_text = get_all_text(root, exclude_tags=exclude_tags)
    
    # text","category","date","head","title","author"
    dct = {"text":all_text,
           "date": yr, 
           "author":aut, 
           "title":tit, 
           "category":typ}
    
    df_dictionary = pd.DataFrame([dct])
    df_1500 = pd.concat([df_1500, df_dictionary], ignore_index=True)


# Exclude specific elements from being included in the te

df_1500.head()

,text,category,date,title,author
0,[The remedy against the troubles of temptation...,book.xml,1508,The-remedy-against-the-troubles-of-temptations,Richard-rolle
1,The ballade of ane right noble victorius & myg...,book.xml,1508,The-ballade-of-ane-right-noble-victorius,William-Dunbar
2,[The noble history of King Ponthus.]Ponthus et...,book.xml,1511,The-noble-history-of-King-Ponthus,Henry-watson
3,Here begynneth a dialogue betwene the comen se...,letter.xml,1530,dialogue-betwene-the-comen-secretary-and-Ielow...,Edward-Gosynhyll
4,"A compendious olde treatyse, shewynge howe tha...",book.xml,1530,A-compendious-olde-treatyse,Richard-ullerston

In [32]:
df_1500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      50 non-null     object
 1   category  50 non-null     object
 2   date      50 non-null     object
 3   title     50 non-null     object
 4   author    50 non-null     object
dtypes: object(5)
memory usage: 2.1+ KB

## 1600-1700

In [25]:
import pandas as pd
import os
import xml.etree.ElementTree as ET

df_1600 = pd.DataFrame(columns=["text","category","date","title","author"])

lst = os.listdir(r"C:\Users\rhira\Documents\TextAge\16001700")

lst.remove("16001700.csv")
for nam in lst:
    #print(nam)
    yr, aut, tit, typ = nam.split("_")
    #print(yr, aut, tit, type)
    
    xml_file_path = r'C:\Users\rhira\Documents\TextAge\16001700'+"\\"+nam
    tree = ET.parse(xml_file_path)
    root = tree.getroot()

    # Define a namespace dictionary for convenience
    ns = {'tei': 'http://www.tei-c.org/ns/1.0'}

    # Function to safely extract text content from an element
    def get_element_text(element, xpath, namespaces=ns):
        result = element.find(xpath, namespaces=namespaces)
        return result.text.strip() if result is not None and result.text is not None else None

    # Function to recursively concatenate text content from an element and its children
    def get_all_text(element, namespaces=ns, exclude_tags=None):
        result = ''
        if element.text and (exclude_tags is None or all(tag not in element.tag for tag in exclude_tags)):
            result += element.text.strip()
        for child in element:
            result += get_all_text(child, exclude_tags=exclude_tags)
            if child.tail:
                result += child.tail.strip()
        return result
    
    exclude_tags = {'titleStmt', 'licence', 'author', 'respStmt'}
    
    all_text = get_all_text(root, exclude_tags=exclude_tags)
    
    # text","category","date","head","title","author"
    dct = {"text":all_text,
           "date": yr, 
           "author":aut, 
           "title":tit, 
           "category":typ}
    
    df_dictionary = pd.DataFrame([dct])
    df_1600 = pd.concat([df_1600, df_dictionary], ignore_index=True)


# Exclude specific elements from being included in the te

In [26]:
df_1600.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      70 non-null     object
 1   category  70 non-null     object
 2   date      70 non-null     object
 3   title     70 non-null     object
 4   author    70 non-null     object
dtypes: object(5)
memory usage: 2.9+ KB

In [28]:

df_1600_extra = pd.read_csv(r"C:\Users\rhira\Documents\TextAge\16001700\16001700.csv")
df_1600_extra.drop(["Unnamed: 0.1","Unnamed: 0","id","date"],axis=1, inplace=True)
df_1600_extra.rename(columns={"genre": "category", "year": "date","head": "author"}, inplace=True)
df_1600_extra.head()

,text,category,author,title,date
0,To contend with men that deny their owne publi...,Economy,"A Reply to a most untrue Relation made, and se...",A reply to a most untrue relation [...] by cer...,1641
1,IT hath been a thing for many years generally ...,Economy,"THE ADVOCATE: OR, A NARRATIVE Of the state and...",The Advocate.,1652
2,"I Presume, there are few Englishmen so disloya...",Economy,\nPropos. 1.\n\nIt will supply his Majesties p...,"A discourse ,shewing the many advantages which...",1668
3,HAving lately seen a Pamphlet under the Title ...,Economy,An Enquiry into the Grounds of a late Pamphlet...,Is not the hand of Joab in all this? Or An enq...,1676
4,FOrasmuch as there is a very great Complaint i...,Economy,SECT. I. \nThe Introduction.,The Trade of England Revived: And the Abuses t...,1681

In [29]:
df_1600 = pd.concat([df_1600, df_1600_extra], ignore_index=True)
df_1600.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      142 non-null    object
 1   category  142 non-null    object
 2   date      142 non-null    object
 3   title     142 non-null    object
 4   author    136 non-null    object
dtypes: object(5)
memory usage: 5.7+ KB

# 1700 1800

In [33]:
import pandas as pd
import os
import xml.etree.ElementTree as ET

df_1700 = pd.DataFrame(columns=["text","category","date","title","author"])

lst = os.listdir(r"C:\Users\rhira\Documents\TextAge\17001800\dataset")

lst.remove("17001800.csv")
for nam in lst:
    #print(nam)
    yr, aut, tit, typ = nam.split("_")
    #print(yr, aut, tit, type)
    
    xml_file_path = r'C:\Users\rhira\Documents\TextAge\17001800\dataset'+"\\"+nam
    tree = ET.parse(xml_file_path)
    root = tree.getroot()

    # Define a namespace dictionary for convenience
    ns = {'tei': 'http://www.tei-c.org/ns/1.0'}

    # Function to safely extract text content from an element
    def get_element_text(element, xpath, namespaces=ns):
        result = element.find(xpath, namespaces=namespaces)
        return result.text.strip() if result is not None and result.text is not None else None

    # Function to recursively concatenate text content from an element and its children
    def get_all_text(element, namespaces=ns, exclude_tags=None):
        result = ''
        if element.text and (exclude_tags is None or all(tag not in element.tag for tag in exclude_tags)):
            result += element.text.strip()
        for child in element:
            result += get_all_text(child, exclude_tags=exclude_tags)
            if child.tail:
                result += child.tail.strip()
        return result
    
    exclude_tags = {'titleStmt', 'licence', 'author', 'respStmt'}
    
    all_text = get_all_text(root, exclude_tags=exclude_tags)
    
    # text","category","date","head","title","author"
    dct = {"text":all_text,
           "date": yr, 
           "author":aut, 
           "title":tit, 
           "category":typ}
    
    df_dictionary = pd.DataFrame([dct])
    df_1700 = pd.concat([df_1700, df_dictionary], ignore_index=True)


# Exclude specific elements from being included in the te

In [34]:

df_1700_extra = pd.read_csv(r"C:\Users\rhira\Documents\TextAge\17001800\dataset\17001800.csv")
df_1700_extra.drop(["Unnamed: 0.1","Unnamed: 0","id","date"],axis=1, inplace=True)
df_1700_extra.rename(columns={"genre": "category", "year": "date","head": "author"}, inplace=True)
df_1700_extra.head()

,text,category,author,title,date
0,\n\nThe Influence of the Bank considerable. NO...,Economy,THE Introduction.,Remarks upon the Bank of England [...],1705
1,THERE has been a Paper already offered to the ...,Economy,"SOME OBSERVATIONS, SHEWING The DANGER of Losin...","Some observations, shewing the danger of losin...",1714
2,THE Miscarriage of the Naval StoreBill last Se...,Economy,A LETTER TO A Member of Parliament.,"A letter to a member of parliament, concerning...",1720
3,IT is not possible that the Island of Barbadoe...,Economy,"\nREMARKS Upon a BOOK, Entituled, The Present ...","Remarks upon a book, entituled, the present st...",1731
4,"WHEN I see a Proposal for raising of Money, wi...",Economy,"THE Injustice, Dishonour AND Ill-Policy OF Bre...","Wednesday club-law: or, The injustice, dishono...",1717

In [35]:
df_1700 = pd.concat([df_1700, df_1700_extra], ignore_index=True)
df_1700.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      104 non-null    object
 1   category  104 non-null    object
 2   date      104 non-null    object
 3   title     104 non-null    object
 4   author    96 non-null     object
dtypes: object(5)
memory usage: 4.2+ KB

## 1800 1900

In [67]:
df_1800 = pd.DataFrame(columns=["text","category","date","title","author"])

lst = os.listdir(r"C:\Users\rhira\Documents\TextAge\18001900")

lst.remove("18001900.csv")

for nam in lst:
    #print(nam)
    #yr, aut, tit, typ = nam.split("_")
    typ, yr, fid = nam.split("_")
    f = open(r"C:\Users\rhira\Documents\TextAge\18001900"+"\\"+nam, "r")
    txt = f.read()

    dct = {"text":txt[8:],
           "date": yr, 
           "author":txt[8:50], 
           "title":fid, 
           "category":typ}
    
    df_dictionary = pd.DataFrame([dct])
    df_1800 = pd.concat([df_1800, df_dictionary], ignore_index=True)
df_1800.head(10)

,text,category,date,title,author
0,The author is indebted to one of the novels of...,fic,1817,8550.txt,The author is indebted to one of the novel
1,"Dramatis Person . Alexius , Emperour of Greece...",fic,1827,8950.txt,"Dramatis Person . Alexius , Emperour of Gr"
2,""" Oh Love ! what is it in this world of ours ....",fic,1830,8750.txt,""" Oh Love ! what is it in this world of ou"
3,"TO MRS . HAMBLIN , THIS DRAMATIC TRIFLE . ( Th...",fic,1831,8850.txt,"TO MRS . HAMBLIN , THIS DRAMATIC TRIFLE ."
4,THE PARTISAN LEADER ; A TALE OF THE FUTURE . B...,fic,1836,7350.txt,THE PARTISAN LEADER ; A TALE OF THE FUTURE
5,PROLOGUE . DELIVERED BY MRS . PRESTON . This n...,fic,1836,8650.txt,PROLOGUE . DELIVERED BY MRS . PRESTON . Th
6,"CHARCOAL SKETCHES ; OR , SCENES IN A METROPOLI...",fic,1838,7250.txt,"CHARCOAL SKETCHES ; OR , SCENES IN A METRO"
7,"Chivers , T. H. ( Thomas Holley ) , 1809-1858 ...",fic,1845,7450.txt,"Chivers , T. H. ( Thomas Holley ) , 1809-1"
8,"Hoffman , Charles Fenno , 1806-1884 : AFTERTHO...",fic,1847,7650.txt,"Hoffman , Charles Fenno , 1806-1884 : AFTE"
9,"CAST OF CHARACTERS . Uncle Jeff , a mischief-m...",fic,1868,9550.txt,"CAST OF CHARACTERS . Uncle Jeff , a mischi"

In [68]:
df_1800_extra = pd.read_csv(r"C:\Users\rhira\Documents\TextAge\18001900\18001900.csv")
df_1800_extra.drop(["Unnamed: 0.1","Unnamed: 0","subjectcount","dob","dod","edp","century","decade"],axis=1, inplace=True)
# text	category	date	title	author
df_1800_extra.rename(columns={"subjects": "category", "pd": "date","author_tag": "author"}, inplace=True)

df_1800 = pd.concat([df_1800, df_1800_extra], ignore_index=True)
df_1800.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4449 entries, 0 to 4448
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      4449 non-null   object
 1   category  4449 non-null   object
 2   date      4449 non-null   object
 3   title     4449 non-null   object
 4   author    4449 non-null   object
dtypes: object(5)
memory usage: 173.9+ KB

## 1900 2000

In [69]:
df_1900 = pd.DataFrame(columns=["text","category","date","title","author"])

lst = os.listdir(r"C:\Users\rhira\Documents\TextAge\19002000")

lst.remove("19002000.csv")

for nam in lst:
    #print(nam)
    #yr, aut, tit, typ = nam.split("_")
    typ, yr, fid = nam.split("_")
    f = open(r"C:\Users\rhira\Documents\TextAge\19002000"+"\\"+nam, "r")
    txt = f.read()

    dct = {"text":txt[8:],
           "date": yr, 
           "author":txt[8:50], 
           "title":fid, 
           "category":typ}
    
    df_dictionary = pd.DataFrame([dct])
    df_1900 = pd.concat([df_1900, df_dictionary], ignore_index=True)
df_1900.head(10)

,text,category,date,title,author
0,( This file was produced from scans of public ...,fic,1900,3850.txt,( This file was produced from scans of pub
1,"\nA kitchen . At the right an ironing-board , ...",fic,1910,13150.txt,\nA kitchen . At the right an ironing-board
2,JIMSY *** Produced by Annie McGuire Jimsy The ...,fic,1915,5250.txt,JIMSY *** Produced by Annie McGuire Jimsy
3,THE VALLEY OF VISION A BOOK OF ROMANCE AND SOM...,fic,1919,1550.txt,THE VALLEY OF VISION A BOOK OF ROMANCE AND
4,HE DRUMS OF JEOPARDY By Harold MacGrath CHAPTE...,fic,1920,550.txt,HE DRUMS OF JEOPARDY By Harold MacGrath CH
5,\nVIOLETTE A STORY BY VINCENT SHEEAN T HE pass...,fic,1930,23150.txt,\nVIOLETTE A STORY BY VINCENT SHEEAN T HE p
6,"\nVr ) 411 , - THE MAN WHO KNEW EVERYBODY A ST...",fic,1933,23250.txt,"\nVr ) 411 , - THE MAN WHO KNEW EVERYBODY A"
7,"A Sequel to "" Seed of the Arctic Ice "" Under A...",fic,1933,5650.txt,"A Sequel to "" Seed of the Arctic Ice "" Und"
8,\nLADY IN TROUBLE A STORY BY MARGERY SHARP ry'...,fic,1937,23350.txt,\nLADY IN TROUBLE A STORY BY MARGERY SHARP
9,\nWILD LINES : SWIMMING HOLE SCENE View page i...,fic,1938,16350.txt,\nWILD LINES : SWIMMING HOLE SCENE View pag

In [70]:
df_1900_extra = pd.read_csv(r"C:\Users\rhira\Documents\TextAge\19002000\19002000.csv")
df_1900_extra.drop(["Unnamed: 0.1","Unnamed: 0","subjectcount","dob","dod","edp","century","decade"],axis=1, inplace=True)
# text	category	date	title	author
df_1900_extra.rename(columns={"subjects": "category", "pd": "date","author_tag": "author"}, inplace=True)

df_1900 = pd.concat([df_1900, df_1900_extra], ignore_index=True)
df_1900.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4555 entries, 0 to 4554
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      3121 non-null   object
 1   category  3121 non-null   object
 2   date      3121 non-null   object
 3   title     3121 non-null   object
 4   author    3121 non-null   object
dtypes: object(5)
memory usage: 178.1+ KB

In [77]:
df_1900.head()

,text,category,date,title,author
0,( This file was produced from scans of public ...,fic,1900,3850.txt,( This file was produced from scans of pub
1,"\nA kitchen . At the right an ironing-board , ...",fic,1910,13150.txt,\nA kitchen . At the right an ironing-board
2,JIMSY *** Produced by Annie McGuire Jimsy The ...,fic,1915,5250.txt,JIMSY *** Produced by Annie McGuire Jimsy
3,THE VALLEY OF VISION A BOOK OF ROMANCE AND SOM...,fic,1919,1550.txt,THE VALLEY OF VISION A BOOK OF ROMANCE AND
4,HE DRUMS OF JEOPARDY By Harold MacGrath CHAPTE...,fic,1920,550.txt,HE DRUMS OF JEOPARDY By Harold MacGrath CH

In [71]:
fin_df = pd.concat([df_1500, df_1600,df_1700,df_1800,df_1900], ignore_index=True)
fin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9300 entries, 0 to 9299
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      7866 non-null   object
 1   category  7866 non-null   object
 2   date      7866 non-null   object
 3   title     7866 non-null   object
 4   author    7852 non-null   object
dtypes: object(5)
memory usage: 363.4+ KB

In [72]:
fin_df.to_csv("fin_df.csv")

# Parsing the clmmet dataset to add to corpus

In [83]:
fl = r'C:\Users\rhira\Documents\TextAge\plain\CLMET3_1_3_317.txt'

In [105]:
import os
import pandas as pd
from bs4 import BeautifulSoup

# Function to extract information from a file
def extract_info(file_path):
    with open(file_path, 'r',encoding="utf-8") as file:
        content = file.read()

    soup = BeautifulSoup(content, 'html.parser')

    id_tag = soup.find('id')
    genre_tag = soup.find('genre')
    year_tag = soup.find('year')
    title_tag = soup.find('title')
    author_tag = soup.find('author')

    id_value = id_tag.text if id_tag else None
    genre_value = genre_tag.text if genre_tag else None
    year_value = year_tag.text if year_tag else None
    title_value = title_tag.text if title_tag else None
    author_value = author_tag.text if author_tag else None

    paragraphs = soup.find_all('p')
    p_content = '\n'.join(paragraph.text.strip() for paragraph in paragraphs)

    output_dict = {
        'text': p_content,
        'category': genre_value,
        'date': year_value,
        'title': title_value,
        'author': author_value
    }

    return output_dict

# Folder containing the HTML files
folder_path = r'C:\Users\rhira\Documents\TextAge\plain'

# List to store dictionaries for each file
data_list = []

# Process each file in the folder
for filename in os.listdir(folder_path):
    if filename.endswith(".txt"):  # Assuming the files have an HTML extension
        file_path = os.path.join(folder_path, filename)
        #print(file_path)
        try:
            file_data = extract_info(file_path)
            data_list.append(file_data)
        except:
            print(file_path)

# Convert the list of dictionaries to a Pandas DataFrame
df = pd.DataFrame(data_list)

# Print or use the DataFrame as needed
print(df.head())

                                                text           category  date  \
0  A TREATISE Concerning the PRINCIPLES OF Human ...           Treatise  1710
1  SERMON I. UPON HUMAN NATURE .\nROMANS xii .\n4...           Treatise  1726
2  THE London Merchant : OR , THE HISTORY OF GEOR...              Drama  1731
3  MARINA : A PLAY OF THREE ACTS .\nAs it is Acte...              Drama  1738
4  THE FORTUNATE FOUNDLINGS .\nCHAP .\nI .\nConta...  Narrative fiction  1744

                                               title                 author
0  A treatise concerning the principles of human ...       Berkeley, George
1                     Human nature and other sermons         Butler, Joseph
2                                The London merchant          Lillo, George
3                                             Marina          Lillo, George
4                           The fortunate foundlings  Haywood, Eliza Fowler

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      333 non-null    object
 1   category  333 non-null    object
 2   date      333 non-null    object
 3   title     333 non-null    object
 4   author    333 non-null    object
dtypes: object(5)
memory usage: 13.1+ KB

In [110]:
df.head()

,text,category,date,title,author
0,A TREATISE Concerning the PRINCIPLES OF Human ...,Treatise,1710,A treatise concerning the principles of human ...,"Berkeley, George"
1,SERMON I. UPON HUMAN NATURE .\nROMANS xii .\n4...,Treatise,1726,Human nature and other sermons,"Butler, Joseph"
2,"THE London Merchant : OR , THE HISTORY OF GEOR...",Drama,1731,The London merchant,"Lillo, George"
3,MARINA : A PLAY OF THREE ACTS .\nAs it is Acte...,Drama,1738,Marina,"Lillo, George"
4,THE FORTUNATE FOUNDLINGS .\nCHAP .\nI .\nConta...,Narrative fiction,1744,The fortunate foundlings,"Haywood, Eliza Fowler"

In [111]:
df_old.head()

,Unnamed: 0,text,category,date,title,author
0,0,[The remedy against the troubles of temptation...,book.xml,1508.0,The-remedy-against-the-troubles-of-temptations,Richard-rolle
1,1,The ballade of ane right noble victorius & myg...,book.xml,1508.0,The-ballade-of-ane-right-noble-victorius,William-Dunbar
2,2,[The noble history of King Ponthus.]Ponthus et...,book.xml,1511.0,The-noble-history-of-King-Ponthus,Henry-watson
3,3,Here begynneth a dialogue betwene the comen se...,letter.xml,1530.0,dialogue-betwene-the-comen-secretary-and-Ielow...,Edward-Gosynhyll
4,4,"A compendious olde treatyse, shewynge howe tha...",book.xml,1530.0,A-compendious-olde-treatyse,Richard-ullerston

In [107]:
df_old = pd.read_csv("fin_df.csv")

df_fin2  = pd.concat([df_old, df], ignore_index=True)

In [108]:
df_fin2.to_csv("fin2.csv")

In [109]:
df_fin2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9633 entries, 0 to 9632
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9300 non-null   float64
 1   text        8199 non-null   object
 2   category    8199 non-null   object
 3   date        8199 non-null   object
 4   title       8199 non-null   object
 5   author      8185 non-null   object
dtypes: float64(1), object(5)
memory usage: 451.7+ KB

# Court Case dataset - Using this was cancled as there were too many spelling errors in the short hand typing

In [115]:
import os
lst = os.listdir(r"C:\Users\rhira\Documents\TextAge\courtcase")
for fl in lst:
    splt = fl.split("_")
    yr = splt[0]
    aut = splt[1]
    title = splt[2]
    file_path = r"C:\Users\rhira\Documents\TextAge\courtcase" + "\\" + fl
    with open(file_path, 'r',encoding="utf-8") as file:
        content = file.read()
        print(content)
        break

4 Julii 1569 super libello ex parte Jane Clerck con Richard Churcher dat

Johannes Wilkins de Sora Winton glasier ubi moram fecit a nativitate &c. libere &c. testis &c. etatis xxv annos dicit quod dictam Clerck per viii annos et dict Churcher et uxor sua tam diu bene novit

Ad 1 articlum libelli refert se ad iura

Ad 2 deponit et dicit that abowt Ester last upon a working day (ut recolit) this deponent dwelling with Gillam glasier was requested by the saide Jane clerck to help her Mayde to the water with a buck. And when they came right over the saide Churchers dore with ther buck of clothes the saide churchers wiff had left wasshing. And was in her howse where upon James Godslens wiff his contest was standing upon a borde by the water redy to wash the clothes which this deponent & she brought forth. And then Churchers wiff came owte agayne from her howse with ii kettles And sayde to Mres Clerck then being ther / dost thow thrust my mayde from the wasshing place & imediatly went to the saide Godslens wiff & thrust her into the water. And then Mres Clerck demanded of the sayde Churchers wiff why she did soe. / And she sware that she wolde thurst her in allso, and which imediatly she did as sone as the saide Mrs Clerck sett her fote uppon the borde & thrust her twise back And sayde to the saide Mres Clerck, Thow arte no honest woman & with that the said Richard Churcher her husband came owte & saide to this deponent what have you to do with this / And sayde unto the saide Mres Clerck then being all wett, thow arte an unhonest woman And she asked what dishonesty know you by me And then this deponent wente his way et aliter nescit deponere

Ad 3 nescit deponere.

Ad 4 verum est.

Ad 5 credit articulum.

Ad 6 predeposita per eum sunt vera &c.

Idem super Interrogtoriis

Ad 1 satisfact est.

Ad 2 respondet that he is owte of everie bodies debte & otherwese very litle worth.

Ad 3 nescit aliter respondere qui predeposunt

Ad 4 respondet quod prous dicit et audivit.

Ad 5 venit rogatu Georgii Clerck mariti dicte Clerck

Ad 6 satisfact est aliter nescit respondere

Ad 7 respondet quod indifferens

Ad 8 9 respondet negative

Ad 10 respondet that once L. Magdalene hill this respondent did weare his armor et aliter respondet negative

Ad 11 respondet quod credit articulum ad deponend veritatem.

Ad 12 respondet that he dwelleth with Gillam Glasier.

Ad 13 satisfact est

his mark

Deposition 2
4 Julii 1569 super libello ex parte Jane Clerck con Richard Churcher dat

Rabadge Godsland uxor Jacobi Godsland de Civitate Winton etatis xxviii annos libere &c. testis &c. dicit quod dict Clerck per iiies annos et dict Chercher et uxor sua per x. annos bene novit

Ad 1 articulum libelli refert se ad iura

Ad 2 deponitet dicit that abowt a fortnight afore Ester last ut recolit this deponent & the saide John Wilkens her contest at Mres Clercks request carried a bucke of Clothes to the wasshing place right over the saide Churcher dore And when they came thither the sayde Churchers mayde had done wasshing of her Clothes And then Mres Clerck layde downe a borde to wash upon And this deponent stode upon the borde and immediatly the saide Churchers wiff came owte of her howse with a cople of kettles in her hand to the wasshing place, and being greved with the saide Mrs Clerck for wasshing ther she thrust this deponent in to the water And then with Mres Clerck asked her why she did soe, And the saide Churchers wiff awnswered & swore that she wold thrust her in allso & so she ded, and sayde she the saide Mres Clerck was no honest woman, And then the saide Richard Churcher came owte of his howse And taking his wiffes parte in conclusion saide the saide Mres Clerck was no honest woman. Why quod Mres Clerck what unhonesty do you know by me. et aliter nescit deponere.

Ad 3 nescit deponere.

Ad 4 verum est.

Ad 5 refert se ad Iura.

Ad ult predeposita per eum sunt vera &c.

Eadem super Interrogtoriis

Ad 1 satisfact est

Ad 2 non concernit eam.

Ad 3 4 satisfact est

Ad 5 venit rogatu Mr Clerck marite dicte Clerck.

Ad 6 satisfact est

Ad 7 est indifferens

Ad 8 respondet that she is ther at Mr Clerck once in a weke to helpe wash a bucke et aliter respondet negative

Ad 9 respondet negative.

Ad 10 11 12 non concernit eam.

Adult satisfact est.